body ,html {
height: 100%;
width: 100%;
background-color: black;
overflow: hidden;

}
.grid{
display:inline-grid; 
grid-template-columns: 30% auto 30% ;
width: 100%;
height: 100%;
}
.StartBtn{
    height: 100vh;
    width: 100vh;
    padding: auto;
}
.startDiv{
    height: 100%;
    width: 600px;
    margin: auto;
}
.alguess{
    font-size: 20px;
}
.wordGuessS{
    margin-top: 300px;   
    font-size: 30px;
    border: solid white;
    height: 200px;
}
.contain{
    height: 150px;
    width: 100%
}

p , h3 ,h5, title{
 color: white;
}
.gamePanel{
    text-align: center;}

.wins, .lose , .numguess{
    font-size: 28px;
}
title{
    font-size: 30px;
}
.panel{
 
}
.pLeft{
    background: orange;
}
.pRight{
    background: white;

}

gravStoneFont{
    font-family: 'Londrina Outline', cursive;

}